@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'),
            url('../fonts/open-sans-light.woff2') format('woff2'),
            url('../fonts/open-sans-light.woff') format('woff')
}

body, html {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
}

body {
    position: relative;
    color: #fff;
}

img {
    max-width: 100%;
}

a,
a:link,
a:visited,
a:hover,
a:active,
a:focus {
    color: #fff;
    text-decoration: none;
}

.nav {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 50%);
    z-index: 1;
}

.nav-menu {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: repeat(5, 180px);
    width: 100%;
    max-width: 900px;
}

.nav-menu-item {
    position: relative;
    transition: ease-in .125s;
}

.nav-menu-item:hover {
    background-color: rgba(0, 0, 0, 70%);
}

.nav-menu-itemText {
    display: block;
    padding: 1rem 0;
    font-size: 20px;
    text-shadow: 1px 1px rgba(0, 0, 0, 100%);
}

.nav-menu-item.has-submenu:hover .nav-submenu {
    opacity: 1;
    pointer-events: inherit;
    transform: translateY(0);
}

.nav-submenu {
    position: absolute;
    left: 0;
    top: 100%;
    width: 180px;
    background-color: rgba(0, 0, 0, 70%);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: ease-in .125s;
}

.nav-submenu.is-visible {
    display: block;
}

.nav-submenu-item {
    transition: ease-in .125s;
}

.nav-submenu-itemText {
    display: block;
    padding: .5em 1em;
    font-size: 16px;
}

.nav-submenu-item:hover {
    background-color: rgba(0, 0, 0, 50%);
}

.hero {
    position: relative;
}

.hero-heading {
    position: absolute;
    left: 64px;
    bottom: 48px;
    margin: 0;
    font-size: 72px;
    font-weight: 300;
    text-shadow: 1px 1px rgba(0, 0, 0,100%);
}
